a:hover,
a:visited,
a:focus {
  text-decoration: none;
}
nav {
  background-color: #fff;
  padding-top: 50px;
}
nav img {
  margin-bottom: 13px;
  max-width: 100%;
  height: auto;
  margin-right: 7px;
  position: absolute;
}
nav .shape {
  text-align: left;
}
nav .maguwo {
  font-size: 30px;
  font-family: "Rockwell";
  color: #202242;
  margin-left: 45px;
}
nav .host {
  font-size: 30px;
  font-family: "Rockwell-Bold";
  color: #202242;
}
nav .navigation ul {
  text-align: right;
  margin-top: 13px;
}
nav .navigation li {
  display: inline-block;
  margin-right: 37px;
}
nav .navigation li a {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #3c3f68;
  text-transform: uppercase;
}
nav .navigation li a:hover {
  color: #ffe13e;
}
nav .callback {
  text-align: right;
}
nav .contact {
  font-size: 12px;
  font-family: "Raleway";
  color: #202242;
  font-weight: 600;
}
@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/RockwellStd.eot');
  src: url('../fonts/RockwellStd.eot?#iefix') format('embedded-opentype'), url('../fonts/RockwellStd.woff2') format('woff2'), url('../fonts/RockwellStd.woff') format('woff'), url('../fonts/RockwellStd.ttf') format('truetype'), url('../fonts/RockwellStd.svg#RockwellStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rockwell-Bold';
  src: url('../fonts/Rockwell-Bold.eot');
  src: url('../fonts/Rockwell-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Rockwell-Bold.woff2') format('woff2'), url('../fonts/Rockwell-Bold.woff') format('woff'), url('../fonts/Rockwell-Bold.ttf') format('truetype'), url('../fonts/Rockwell-Bold.svg#Rockwell-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
