 @chat-color: rgb(255, 225, 62);

a:hover,
a:visited,
a:focus
{
    text-decoration: none;
}
/****************** NAVIGATION ******************/
 nav {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        margin-bottom: 13px;
        max-width: 100%;
        height: auto;
        margin-right: 7px;
        position: absolute;
    }

    .shape {
        text-align: left;
    }
    .maguwo {
           font-size: 30px;
           font-family: "Rockwell";
           color: rgb(32, 34, 66);
           margin-left: 45px;

    }
    .host {
           font-size: 30px;
           font-family: "Rockwell-Bold";
           color: rgb(32, 34, 66);
            
    }
    
    .navigation {
        margin-left: -25px;
        ul {
            text-align: right;
            margin-top: 13px;
        }
        li {
            display: inline-block;
            margin-right: 37px;
            a {
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                color: #3c3f68;
                text-transform: uppercase;
            }

            a:hover {
                color: rgb(255, 225, 62);
            }
        }
    }
    .callback {
        li {
            display: inline-block;
        }
    }
    .contact {
        text-align: right;
        margin-left: -25px;
        font-size: 12px;
        font-family: "Raleway";
        color: #3c3f68;
        font-weight: 600;
        margin-top: -15px;
    }
    
    .chat {
        font-size: 14px;
        font-family: "Raleway";
        color: rgb(32, 34, 66);
        background-color: @chat-color;   
        width: 122px;
        height: 41px; 
        display: block;
        text-align: center;
        padding-top: 9px;
        margin-left: -20px;
        margin-right: 11px;
        &:hover {
            background-color: darken(@chat-color, 30);
        }
    }

    .number {
        font-size: 24px;
        padding: 6px 11px 6px;
        border-left: 1px solid #babbc4;
        font-family: "Lato";
        font-weight: 600;    
    }

 }

/****************** SECTION ******************/
section {
    background-color: #2f2f2f;
    padding-top: 240px;

    .main-text {
        font-size: 48px;
        font-family: "Rockwell";
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .second-text {
        font-size: 30px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 45px;
    }
    .section-picture {
        padding-top: 55px;
        display: block;
        margin: 0 auto;
    }
    .check-domain {
        
    }
}







 /****************** FONTS ******************/

 @font-face {
   font-family: 'Rockwell';
   src: url('../fonts/RockwellStd.eot');
   src: url('../fonts/RockwellStd.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RockwellStd.woff2') format('woff2'),
     url('../fonts/RockwellStd.woff') format('woff'),
     url('../fonts/RockwellStd.ttf') format('truetype'),
     url('../fonts/RockwellStd.svg#RockwellStd') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'Rockwell-Bold';
   src: url('../fonts/Rockwell-Bold.eot');
   src: url('../fonts/Rockwell-Bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Rockwell-Bold.woff2') format('woff2'),
     url('../fonts/Rockwell-Bold.woff') format('woff'),
     url('../fonts/Rockwell-Bold.ttf') format('truetype'),
     url('../fonts/Rockwell-Bold.svg#Rockwell-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
 }